/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/copyright/profiles_settings.xml
/.idea/codeStyles/Project.xml
/TestGit.iml
/.idea/vcs.xml
/.idea/uiDesigner.xml
