/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/copyright/profiles_settings.xml
/.idea/codeStyles/Project.xml
/TestGit.iml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/out/production/TestGit/boo/Bar.class
/out/production/TestGit/scoobydoobydoo/Daphne.class
/out/production/TestGit/scoobydoobydoo/ScooBydoo.class
/out/production/TestGit/scoobydoobydoo/Shaggy.class
/out/production/TestGit/scoobydoobydoo/Velma.class
/out/production/TestGit/testrep/Bing.class
/out/production/TestGit/testrep/Blabla.class
/out/production/TestGit/testrep/BranchZ.class
/out/production/TestGit/testrep/Otto.class
/out/production/TestGit/testrep/Yuhu.class
